<h4>会員一覧</h4>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each_with_index do |customer, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
      <td><%= customer.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>