<h4>注文情報入力</h4>

<h5>支払方法</h5>
<%= f.radio_button :payment, "credit_card" %>
<%= f.label :payment_credit_card, "クレジットカード" %>
<%= f.radio_button :payment, "transfer" %>
<%= f.label :payment_transfer, "銀行振込" %>

<h5>お届け先</h5>

